# Node modules
node_modules/

# Database files
*.db

# Logs
*.log

# Environment variables
.env

# Temporary files
*.tmp

# Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Utility scripts directory
utils/
